body{
    background-color: #5a7154;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center; 
    vertical-align: top;
}

.card{
    width: 29vw;
    border: 1px solid black;
    margin: 0.1em 0.1em 0 0;
    display: inline-block;
    vertical-align: top;
    min-height: 26vh;
    font-size: 4vh
}
a{
    text-decoration: none;
    display:contents;
    margin: 1em;
    color: rgb(222, 156, 23);
    background-color: saddlebrown;
    padding: 1em;
    border-radius: 1em;;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width:100%;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:white;
    padding: 15px 18%;
    transition: ease .40s;
    box-shadow: 2px 5px 15px rgb(85 85 85/20%);
}
.logo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--text-color);
}
.navbar{
    display:flex;
    /* background-color:#5a7154  */
}
.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius:  4px; 
    transition: ease .40s;
}
.navbar a:hover{
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}
#menu-icon{
    color: var(--text-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
a:hover{
    text-decoration: underline;
    color: gold;
}
.home-text h1{
    font-size: var(--big-font);
    line-height: 1.2;
    color: var(--bg-color);
    font-family: 'Paytone one';
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.home-text p{
    color: #ffffffbf;
    font-size: 10px;
    font-weight: 300; 
    line-height: 38px;
    margin-bottom: 50px;
select{
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
}
.row-items{
    display: grid;
    grid-template-columns: repeat(auto=fit, minmax(250px,auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}  
.container-box{
    background: var(--bg-color);
    border: 1px solid #f0eded;
    /* padding: 50px 10px; */
    border-radius: 4px;
    transition: all 1s ease 0s;
    cursor: pointer;
} 
.container-img{
    height: 85px;
    width: 85px;
    padding: 15px;
    background: var(--bg-color);
    box-shadow: 5px 10px 30px rgb(85 85 85/20%);
    align-items: center;
    object-fit: cover;
}
/* option{
    padding: 1em;
    margin: 1em;
} */